# netlify.toml (ROOT)
[build]
  base = "client"
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/api/*"
  to = "https://ticket-agent-n9zk.onrender.com/api/:splat"
  status = 200
  force = true
